// PICTURES IN VIEWPORT
// FONTS IN CLAMP()


// SMALLER DEVICES AND PORTRAIT
@media only screen  and (min-device-width: 200px) and (max-device-width: 666px) {
    * {
        margin: 0;
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            font-size: large;
            height: 100vh;
        }
    }
}
// LARGER DEVICES AND LANDSCAPE 
@media only screen  and (min-device-width: 667px) and (max-device-width: 1500px) {
    * {
        margin: 0;
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: darkblue;
            color: white;
            font-size: large;
            height: 100vh;
        }
    }
}
// DESKTOP
@media only screen and (min-device-width: 1600px) {
    * {
        margin: 0;
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hotpink;
            color: white;
            font-size: large;
            height: 100vh;
        }
    }
}
// LARGER PHONES
// @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) {
//     * {
//         margin: 0;
//         body {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: goldenrod;
//             color: white;
//             font-size: large;
//             height: 100vh;
//         }
//     }
// } 
// @media only screen and (min-device-width: 414px) and (max-device-width: 933px) and (orientation: landscape) {
//     * {
//         margin: 0;
//         body {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: blueviolet;
//             color: white;
//             font-size: large;
//             height: 100vh;
//         }
//     }
// } 
// // Tablet
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
//     * {
//         margin: 0;
//         body {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: darkred;
//             color: white;
//             font-size: large;
//             height: 100vh;
//         }
//     }
// }
// Tablet
// @media only screen and (min-device-width: 768px) and (max-device-width: 1500px) and (orientation: landscape) {
//     * {
//         margin: 0;
//         body {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: darkcyan;
//             color: white;
//             font-size: large;
//             height: 100vh;
//         }
//     }
// }